<!-- For IIS -->

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <rewrite>
    <rules>
      <!-- Existing rule for ReactRouter Routes -->
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="true" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="true" negate="true" />
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/.*" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>

      <!-- New reverse proxy rule for Worker Service -->
        <rule name="ReverseProxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:54321/api/{R:1}" />
        </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>